.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }

/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
  }

  /* FONDO DE VIDEO */
  .encabezado {

    background-position: center;
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    
    }

    .encabezado video{

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

    }

/*-----------------------------------------------------------*/
  
  /* Barra de navegación */
  .barra-navegacion {
    
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    z-index: 2;
    
  }

  .iconos-usuario{
    text-align: right;
  }

  .iconos-usuario a{
    
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 20px;
    color: white;

  }

  /*-----------------------------------------------------------*/
  
  /* Logo */
  .logo h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
  }

  .logo .subtitulo{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 0.8rem;
    display: block;
  }

  .logo {
    text-align: center;
    margin-top: -2%;
    line-height: 125%;
  }
  /*-----------------------------------------------------------*/

  /* Menú */
  .menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: 33.5%;
    margin-top: 1%;
  }

  .menu a {
    text-decoration: none;
    color: white;
  }

  /*-----------------------------------------------------------*/

  .boton-hero{ /*BOTON INDEX*/

    color: white;
    text-decoration: none;
  }
    /*-----------------------------------------------------------*/
  .contenido-principal{ /*Titulo del index*/
    margin-top: 8%;
   text-align: center;
}