.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }

  .birthstone-bounce-regular {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .birthstone-bounce-medium {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 500;
    font-style: normal;
  }
  

/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    width: 100%;
  }

  
  .header {

    background-position: center;
    height: 100vh;
    }

    /* FONDO DE VIDEO */
    .header video{

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

    }

  /*MEDIA QUERY PARA PANTALLA DE TELEFONOS*/
  @media screen and (max-width: 768px) {
    .header{
      height: 55vh;
      background-size: cover;
    }
    .header video {
      height: 55vh;
      object-fit: cover;
    }
  }

/*----------------------------------------------------------*/

/*-----------------------------------------------------------*/
  
  /* Barra de navegación */
  .barra-navegacion {
    z-index: 10000;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    z-index: 2;
    flex-wrap: wrap;
    width: 100%;
    display: block;
    top: 0;
    position: fixed;
  }

  .scrolled{
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .scrolled .menu a, .scrolled .iconos-usuario a, .scrolled .logo a{
    color: black;
  }

  .iconos-usuario{
    text-align: right;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    flex: 1;
  }

  .iconos-usuario a{
    
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 20px;
    color: white;
    transition: all 0.3 ease;

  }

  .iconos-usuario a:hover{
    color: #c6937f;
  }

  /*MEDIA QUERY PARA PANTALLA DE TELEFONOS*/
  @media screen and (max-width: 768px) {
    .barra-navegacion{
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .iconos-usuario{
      justify-content: center;
      gap: 0.5rem;
    }
    .iconos-usuario a {
      font-size: 16px;
      letter-spacing: 2px;
    }

    .scrolled{
      background-color: white;
    }
    .scrolled .menu a, .scrolled .iconos-usuario a, .scrolled .logo a {
    color: black;
  }

  }

  /*-----------------------------------------------------------*/
  
  /* Logo */
  .logo h1 {
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 300;
    line-height: 2rem;
    flex-grow: 1;
  }

  .logo a{
    text-decoration: none;
    color: white;
  }

  .logo .subtitulo{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5rem;
    font-size: 0.95rem;
    display: block;
  }

  .logo {
    text-align: center;
    margin-top: -1%;
  }

  @media screen and (max-width: 768px) {
    .logo h1{
      font-size: 2.2rem;
      letter-spacing: 0.1rem;
      line-height: 1.8rem;
    }

    .logo .subtitulo{
      font-size: 0.8rem;
      letter-spacing: 0.3rem;
    }

    .logo{
      margin-top: 1%;
      text-align: center;
      padding: 1%;
    }
  }
  /*-----------------------------------------------------------*/

  /* Menú */
  .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.3%;
  }

  .menu a {
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .menu a:hover{
    border-bottom: 1px solid white;
  }

  @media screen and (max-width: 768px) {
    .menu a {
      font-size: 15px;
      padding: 0.3rem;
    }
    .menu{
      gap: 2px;
    }
  }

  /*-----------------------------------------------------------*/

  .boton-hero{ /*BOTON INDEX*/

    color: #c6937f;
    text-decoration: none;
    margin-top: 1rem;
    font-family: 'Quicksand', sans-serif;
    padding: 0.5rem;
    border-radius: 0.7rem;
    padding-inline: 2rem;
    cursor: pointer;
    border-style: none;
    font-weight: 700;
  }

  .boton-hero:hover{
    background-color: rgba(210, 210, 210, 0.4);
    color: white;
  }
  
    /*-----------------------------------------------------------*/
     /*Titulo del index*/
    .contenido-principal{ 
    
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Ocupar toda la pantalla */
}

.subtitulo-hero{
    font-family: "Birthstone Bounce", cursive;
    font-weight: 300;
    font-size: 40px;
}

@media screen and (max-width: 780px) {
  .boton-hero{
    font-size: 16px;
    padding: 0.4rem 1.5rem;
  }

  .contenido-principal{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    height: 55vh; /* Ocupar toda la pantalla */
  }
}
/*----------------------------------------*/

/*COOKIES*/
.cont-cookies{
  padding: 2rem;
  position: fixed;
  bottom: 20px;
  left: 7rem;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 85%;
}

.cont-cookies button{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 2rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.cont-cookies button:hover{
  background-color: #ccc;
  color: black;
}

@media screen and (max-width: 768px){
  .cont-cookies{
     flex-direction: column; /* Apilar elementos */
    padding: 1rem; 
    gap: 5px; /* Menos separación entre elementos */
    bottom: 10px; /* Ajustar posición */
    left: 10px;
    right: 10px;
  }

  .cont-cookies button {
    font-size: 14px; /* Reducir tamaño de fuente */
    padding: 0.5rem 5rem; /* Ajustar el tamaño del botón */
  }
}

/*----------------------------------------*/

/*POP UP*/
.popup {

    display: flex;
    position: fixed;
    width: 55rem;
    height:30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 1rem;
    text-align:center;
    padding: 0.rem;
    z-index: 100;

}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.img-popup{

  position: fixed;
  background-color: rgba(0, 0, 0, 0.2); /*color temporal*/
  float: left;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 50%;
  height: 100%;
  align-items: center;
  
}

.popup img{
  
  width: 95%;
  height: auto;
  border: 2px solid black;
}

.content-popup{
  
  float: right;
  height: 100%;
  width: 50%;
  padding: 0.8rem;
}

.popup h2{
  font-family: 'Anton', sans-serif;
  font-weight:500;
  font-size: 2rem;

  color: #c6937f;

}

.popup ul{
  font-family: 'Quicksand', sans-serif;
  align-items: center;
  text-align: left;
  font-size: 0.95rem;
  list-style: none;
  margin-bottom: 2%;
}

#boton-popup{
  background-color: black;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border-style: none;
  padding: 0.3rem;
  padding-inline: 4rem;
  border-radius: 1rem;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;

}
#boton-popup:hover{
  background-color: rgba(0,0,0,0.3);
  color: black;
}
#boton-popup-cerrar{
  
  color: gray;
  font-family: 'Quicksand', sans-serif;
  border-style: none;
  padding: 0.1rem ;
  padding-inline: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}

#boton-popup-cerrar:hover {
  border-bottom: 1px gray solid;
}

#campo-email{
  border-radius: 1rem;
  padding: 0.4rem;
  padding-inline: 2rem;
  text-align: center;
  border-style: none;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 0.5px black solid;
}

@media screen and (max-width: 768px) {
  .popup{
    flex-direction: column; /*apilar elementos*/
    width: 90%;
    padding: 1rem;
  }

  .img-popup{
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
  }

  .content-popup{
    width: 100%;
    padding: 1rem;
  }

  #boton-popup{
    width: 100%;
  }
}

/*SCROLL 1 DEL INDEX (MAQUILLAJE)*/

.contenedor-maquillaje{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem;
}

.btn-agregar{
  font-family: 'Quicksand', sans-serif;
  display: none; /*oculta el boton por defecto*/
  background-color: white;
  color: black;
  padding: 0.4rem;
  padding-inline: 7rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  font-weight: bold;
}

.producto{
  font-family: 'Quicksand', sans-serif;
  background: white;
  text-align: left;
  padding: 0.3rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  cursor: pointer;
}

.producto img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}


.info-producto{
  background-color: white;
  width: 100%;
  flex-grow: 1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
}

.producto:hover{
  
  transform: scale(1.05);
}

.producto:hover .btn-agregar{
  display: block;
}

.producto:hover .info-producto{
  transform: translateY(-50%);
}

.btn-agregar:hover{
  background-color: black;
  color: white;
}

@media screen and (max-width:768px) {
  .contenedor-maquillaje{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .producto{
    height: auto;
  }

  .btn-agregar{
    padding-inline: 3rem;
    font-size: 0.9rem;
  }
}

